<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <title>Add Product</title>
    </head>

    <body class="bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-light">
            <div class="container">
                <a class="navbar-brand font-weight-bold" href="http://127.0.0.1:5500/templates/products.html">Secta Pinguinului</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="http://127.0.0.1:5500/templates/products.html">Produse</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" id="addProduct" href="http://127.0.0.1:5500/templates/add.html" hidden>Adauga Produse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="login" href="http://127.0.0.1:5500/templates/login.html">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="logout" hidden>Logout</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto text-light" id="username" hidden></ul>
                </div>
            </div>
        </nav>
        <div class="container text-light pt-5">
            <h2>Adauga Produs</h2>
            <form>
                <div class="row">
                    <div class="mb-3 form-group w-100">
                        <label for="name" class="form-label">Nume</label>
                        <input class="form-control" id="name" />
                    </div>
                    <div class="mb-3 form-group w-100">
                        <label for="category" class="form-label">Categorie</label>
                        <select class="form-control" id="category">
                            <option value="Placi video">Placi video</option>
                            <option value="Procesoare">Procesoare</option>
                            <option value="RAM">RAM</option>
                            <option value="Monitoare">Monitoare</option>
                        </select>
                    </div>
                    <div class="mb-3 form-group w-100">
                        <label for="price" class="form-label">Pret</label>
                        <input class="form-control" id="price" />
                    </div>
                    <div class="mb-3 form-group w-100">
                        <label for="image" class="form-label">Link Imagine</label>
                        <input class="form-control" id="image" />
                    </div>
                    <div class="mb-3 form-group w-100">
                        <label for="stock" class="form-label">Stoc</label>
                        <input class="form-control" id="stock" />
                    </div>
                </div>
                <button class="btn btn-primary" id="submitProdus">Submit</button>
            </form>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"
        ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="logout.js"></script>

        <script>
            document.getElementById('submitProdus').addEventListener('click', async (e) => {
                e.preventDefault();

                const image = document.getElementById('image').value;
                const price = document.getElementById('price').value;
                const stock = document.getElementById('stock').value;
                const name = document.getElementById('name').value;
                const category = document.getElementById('category').value;

                const data = {
                    image,
                    price,
                    stock,
                    name,
                    category
                };

                if (image !== '' && price !== '' && stock !== '' && name !== '' && category !== '') {
                }

                let res = await fetch('http://89.136.170.156:5000/product', {
                    method: 'POST',
                    mode: 'cors',
                    headers: {
                        Accept: 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
                let product = await res.json();
                if (product?.success) window.location.replace('http://127.0.0.1:5500/templates/products.html');
            });
        </script>
    </body>
</html>
